.container{
  display: flex;
}

h1{
  text-align: center;
}

.sidebar{
  position: relative;
  padding: 25px;
  background: #e6e6e6;
  min-width: 145px;
}
.sidebar-inner{
  position: fixed;
  top: 20px;
}
.sidebar-title{
  margin-top: 12px;
  font-size: 13pt;
  border-bottom: 3px solid #ec5a5a;
  padding-bottom: 3px;
  display: inline-block;
}
.sidebar-title,
.article-title{
  font-family: 'Bitter', serif;
  font-weight: bold;
}
.sidebar-menu{
  padding-left: 0;
}
.sidebar-menu li{
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid #c5c5c5;
}
.sidebar-menu li:last-child{
  border-bottom: none;
}
.nav-link{
  display: block;
  font-size: 10.5pt;
  font-family: 'Bitter', serif;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-link{
  text-decoration: none;
}

.home-div{
  max-width: 650px;
  margin: 0 auto;
}
.home-div p{
  text-align: justify;
}

.feed{
  padding: 25px;
  flex-grow: 8;
}

.article{
  margin: 0 auto 30px auto;
  max-width: 650px;
  padding: 25px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(197, 197, 197, 0.24);
}
.article a{
  text-decoration: none;
}
.article-title{
  margin-top: 0;
  font-size: 15pt;
  color: #262626;
}
.article-img{
  max-width: 650px;
  width: 100%;
}
.article-source{
  font-weight: 600;
  color: #A5A5A5;
}
.article-description,
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #4c4c4c;
}
.articleURL a{
  font-weight: bold;
  color: #54BABB;
}

@media (max-width: 975px) {
  .container{
    display: block;
  }

  .feed{
    margin-top: 20px;
  }

  .sidebar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
  }
  .sidebar-inner{
    position: relative;
    top: 0;
  }
  .sidebar-title{
    margin-top: 0;
    margin-bottom: 0;
    width: 95px;
  }
  .sidebar-menu{
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
    cursor: pointer;
  }
  .sidebar-menu:before{
    content: url("https://img.icons8.com/metro/26/000000/menu.png");
  }
  .sidebar-menu li:last-child{
    padding-bottom: 5px;
  }
  .sidebar-menu li,
  .sidebar-title{
    display: none;
  }

  .sidebar-menu.visible{
    height: 100%;
  }
  .sidebar-menu.visible li{
    display: block;
  }

}
